In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/exercise_1/labels.csv")

In [3]:
df.head()

   GalaxyID  Class1.1  Class1.2  Class1.3
0    100090         1         0         0
1    100134         0         1         0
2    100237         0         1         0
3    100263         0         1         0
4    100322         0         1         0